<div id="logreg-forms">
<form [formGroup]="dynamicForm" *ngIf="dynamicForm"(ngSubmit)="onSubmit()" class="form-signin" novalidate>
	<ng-container *ngFor="let controls of loginForm">
		{{controls.label}}
		<input [type]="controls.type" class="form-control" [formControlName]="controls.label"/>
      <ng-container *ngFor="let validation of controls.validations">
        <span *ngIf="dynamicForm.controls[controls.label].touched && dynamicForm.controls[controls.label].errors">
          <p *ngIf="dynamicForm.controls[controls.label].errors[validation.name]">
            {{validation.message}}
          </p>
        </span>
    </ng-container>
    <br>
  </ng-container>
  <br>
  <button type="submit" [disabled]="!dynamicForm.valid" class="btn btn-primary">Submit</button>
  <button type = "register" [routerLink]="['/register']" class="btn btn-link" style="margin-top:10px;">Register</button>
</form>
</div>